@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Black+Han+Sans&family=Do+Hyeon&family=Jua&family=Lobster&family=Permanent+Marker&family=Rubik+Glitch&display=swap');

/* ========== Variables Css ========== */
:root {

  /* ----- Font ----- */
  --head-font: 'Rubik Glitch', cursive;
  --main-font: 'Aboreto', cursive;
  --korean-font: 'Do Hyeon', sans-serif;

  /* ----- Font Size ----- */
  --head-size: 2.5rem;

  /* ----- Color ----- */
  --nav-hover: rgb(187, 187, 187);
}


/* ===== Base ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* ===== Header & Nav ===== */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh;
  background: url('./../img/banner1.jpg');
  background-position: center;
  background-size: cover;
  z-index: 100;
  transition: all 0.4s;
}

nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem 1.5rem 2rem;
  z-index: 101;
}

.nav-container {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  column-gap: 2rem;
}

nav h4 a {
  color: white;
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
  font-family: var(--head-font);
  font-size: 2.5rem;
}

nav ul li a,
.log-out {
  color: rgb(209, 209, 209);
  font-family: var(--main-font);
  font-size: 1.2rem;
  transition: all 0.5s;
  cursor: pointer;
}

nav ul li a:hover,
.search-icon:hover,
.log-out:hover {
  color: #fff;
}



/* Toggle Navbar */
.toggle-navbar {
  display: none;
}

.fa-toggle-off {
  display: none;
}

@media screen and (max-width: 767px){
  .nav-container {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url('./../img/banner1.jpg');
    background-size: cover;
    background-position: center;
    padding-block: 2.5rem 2rem;
    border-radius: 0 0 2rem 2rem;
    transition: top .4s;
  }

  .nav-container ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
  }
}


.toggle-navbar ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  color: black;
}

.toggle-input {
  display: none;
  width: 15rem;
  padding: 5px;
}

.toggle-close-btn {
  display: none;
  margin-left: .5rem;
}






/* ===== Main (Table) ===== */
main {
  margin-top: 10rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
}

.name-container {
  position: relative;
}

.name-container h4 {
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.name-container div {
  position: absolute;
  top: 1.7rem;
  left: -4px;
  border: 1px solid black;
  width: 7.2rem;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

table tr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2rem;
  text-align: center;
  justify-content: center;
}

thead {
  font-size: 1.5rem;
}

thead tr {
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

tbody {
  font-family: var(--korean-font);
  font-size: 1.3rem;
}

tbody tr {
  padding-top: 1rem;
}

tbody tr:last-child {
  border-bottom: 2px solid black;;
  padding-bottom: 1rem;
}

td button {
  padding: 1rem;
}

.delete-btn {
  font-family: var(--main-font);
  font-size: 1rem;
  background-color: lightgray;
  padding: 5px;
  border: 2px solid black;
  border-radius: 3rem;
  transition: all .4s;
  cursor: pointer;
}

.delete-btn:hover {
  background: black;
  border: 2px solid lightgray;
  color: lightgray;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.count-input {
  font-family: var(--korean-font);
  font-size: 1.3rem;
  width: 3rem;
  border: none;
  text-align: center;
}

.list-th {
  display: none;
}





/* ===== TOTAL Section ===== */
.total-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
}

.totalName-container {
  position: relative;
}

.totalName-container h5 {
  font-size: 2rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.totalName-container div {
  position: absolute;
  top: 1.4rem;
  left: -5px;
  width: 7rem;
  border: 1px solid black;
}

.showTotal-container {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

.countNprice-container {
  display: flex;
  align-items: center;
  font-family: var(--korean-font);
  font-size: 1.5rem;
}

.totalbuy-Btn {
  margin-left: 3rem;
  font-family: var(--korean-font);
  font-size: 1rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background: lightgray;
  transition: all 0.4s;
  cursor: pointer;
}

.totalbuy-Btn:hover {
  background: black;
  border: 2px solid lightgray;
  color: lightgray;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5); 
}

.count,
.price {
  margin-left: 1rem;
}




/*
////////
Response
////////
*/

@media screen and (max-width: 767px){
  /* Nav */
  .fa-toggle-off {
    display: inline;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
  }

  .fa-toggle-on {
    position: absolute;
    color: white;
    top: 3rem;
    right: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
  }

  /* Main */
  .main-container {
    transition: all 0.3s;
  }

  thead tr {
    display: flex;
    align-items: center;
  }

  th {
    display: none;
  }

  .list-th,
  .btn-th {
    display: inline
  }

  /* Total */
  .showTotal-container {
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
  }

  .totalbuy-Btn {
    margin: 0;
  }
}